@import url(common.css);


body {
	font-size: 0.78em;
	font-family: 돋움, dotum, 굴림, gulim, sans-serif;
    line-height: 180%;
	color: #666;
	padding: 0;
	margin: 0;
}



#logo{
	width: 904px;
	height : 98px;
    position: relative;
	background:#386d99;
	padding: 0;
	margin: 0;
}


#logo2{
	width: 900px;
	height : 78px;
    position: relative;
	background:#386d99;
	padding: 0;
	margin: 0;
}

#img{
	width: 904px;
	height : 180px;
    position: relative;
	background:#ebe9e4;
	padding: 0;
	margin: 0;
}

#tit{
	width: 863px;
	height : 44px;
    position: relative;
	background:#fff;
	padding: 31px 0 0 41px;
}

#con{
    width: 824px;
	height : 200px;
    position: relative;
	background:#fff;
	padding: 10px 40px 0 40px;
}
#con2{
    width: 924px;
	height : 350px;
    position: relative;
	background:#fff;
	padding: 10px 40px 0 40px;
}
#con3{
    width: 824px;
	height :300px;
    position: relative;
	background:#fff;
	padding: 10px 40px 0 40px;

}
#con4{
    width: 824px;
	height :703px;
    position: relative;
	background:#fff;
	padding: 0 40px 20px 40px;
	text-align:center;

}
#con5{
    width: 800px;
	height :400px;
    position: relative;
	background:#fff;
	padding: 30px 40px 0px 20px;
}
#con6{
    width: 800px;
	height :300px;
    position: relative;
	background:#fff;
	padding: 30px 40px 0px 20px;
}

#con7{
    width: 800px;
    position: relative;
	background:#fff;
	padding: 0px 40px 0px 20px;
}


#btt{
	width: 904px;
	height : 88px;
    position: relative;
	background:#fff;
	text-align:center;
	padding-top: 10px;
	
}



#btt2{
	width: 780px;
	height : 60px;
    position: relative;
	background:#fff;
	text-align:center;
	padding-top: 1px;
	
}

/* color */
.c_blue {color:#1652a3 !important;}
.c_orange {color:#ff6600 !important;}
.c_green {color:#487e0f !important;}

/* position */
.pos_rel {position:relative;}
.pos_abs_rt {position:absolute; right:0; top:0px}
.pos_abs_rb {position:absolute; right:0; bottom:5px;}
.pos_tn40 {top:-40px;}

